.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5px
}

.card-container {
  margin: 8px;
  padding: 8px;
  height: 200px;
  width: 150px;
  border-radius: 8px;
  text-overflow: clip;
  color: white;
  cursor: pointer;
  overflow-wrap: break-word;
}

.front {
  background-color: green;
}

.back {
  background-color: #fbd7f8;
}

.card-text {
  color: black;
  text-align: center;
}

.delete-button {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  top: -5px;
  left: -25px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
