.card-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-height: 35vh; */
  max-width: 40vw;
  justify-content: center;
  align-items: center;
  overflow: clip;
  margin-top: 30px;
}